.search-bar {
  width: 100%;
}

.search-bar form {
  display: flex;
}

.search-bar form input {
  width: 70%;
  height: 60px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(177, 173, 173, 0.7);
  outline: none;
  color: var(--white);
}

.search-bar form input::placeholder {
  color: rgba(177, 173, 173, 0.7);
}

.search-bar form button {
  width: 30%;
  height: 60px;
  border: none;
  background: rgba(177, 173, 173, 0.7);
  border-bottom: 1px solid rgba(177, 173, 173, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar ul {
  color: rgba(177, 173, 173, 0.7);
  margin-top: 2rem;
}

.search-bar ul li {
  margin-top: 1rem;
  cursor: pointer;
  transition: filter 200ms;
}

.search-bar ul li:hover {
  filter: brightness(0.7);
}