.weather-info {
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: .5rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 2rem 3rem;
  margin-top: 4rem;
  text-align: center;
}

.weather-info h1 {
  font-size: 6.5rem;
  font-weight: 400;
  display: flex;
}

.weather-info span {
  font-size: 3rem;
}

.weather-info .city-info h2 {
  font-size: 2.6rem;
  font-weight: 300;
}

.weather-info .city-info span {
  font-size: .8rem;
}

.weather-info .weather-status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info .weather-status img {
  height: 100px;
  width: 100px;
}

.weather-info .weather-status span {
  font-size: .8rem;
  text-align: center;
}

@media (max-width: 900px) {
  .weather-info {
    margin-top: 1rem;
    padding: 2rem 0.5rem;
    flex-direction: column;
    gap: .5rem;
  }

  .weather-info h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .weather-info span {
    font-size: 1.5rem;
  }
}